.photo-grid {
  width: 1184px;
  min-width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1250px) {
  .photo-grid {
    width: 90%;
    gap: 14px;
  }
}

@media screen and (max-width: 977px) {
  .photo-grid {
    gap: 16px;
  }
}

@media screen and (max-width: 732px) {
  .photo-grid {
    min-width: 288px;
    row-gap: 12px;
  }
}