.places {
    max-width: 984px;
    width: 90%;
    min-width: 720px;
    margin: 0 auto;
  }

@media screen and (max-width: 767px) {
  .places {
    min-width: 320px;
    width: 100%;
  }
}
  
@media screen and (max-width: 740px) {
  .places {
    min-width: 320px;
    width: 100%;
  }
}