.cover__subtitle {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 400;
    width: 360px;
    margin: 0;
  }

@media screen and (max-width: 500px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 267px;
  }
}