.header {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1184px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 52px;
  align-items: flex-end;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .header {
    min-width: 720px;
    padding-bottom: 46px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-width: 288px;
  }
}

@media screen and (max-width: 740px) { 
  .header {
    padding-top: 16px;
  }
}