.header {
  max-width: 1184px;
  width:90%;
  min-width: 288px;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 52px;
  align-items: flex-end;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 977px) {
  .header {
    padding-bottom: 44px;
  }
}

@media screen and (max-width: 725px) { 
  .header {
    padding-top: 16px;
  }
}