.lead__title {
  color: #fff;
  width: 720px;
  font-family: 'Inter';
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin-bottom: 33px;
    width: 500px;
    font-size: 68px;
  }
}

@media screen and (max-width: 499px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}