.page{
  background-color: #2A2C2F;
  width: 100vw;
  border: 1px solid #00000000;
}

.header{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0;
  align-items: center;
}

.header__lang-link{
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.lead{
  max-width: 984px;  
  min-width: 320px;
  margin: auto;
  padding: 0 0 92px;
  font-size: 16px;
}

.lead__title{
  color: #fff;
  width: 720px;
  font-size: 6rem;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: auto;
}

.lead__subtitle{
  color: #fff;
  width: 640px;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 64px;
}

.lead__image{
  display: flex;
  justify-content: center;
  margin: 0 0 8px;
  width: 100%;

}

.lead__caption {
  color: #fff;
  font-size: .6em;
  font-weight: 400;
  line-height: 14px;
  width: 158px;
}

.intro {
  width: 80%;
  margin: 0 auto;
}

.intro__title {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 58px;
  margin: 0 0 40px;
}

.intro__text {
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 40px;
}

.intro__list {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  width: 690px;
  list-style-type: none;
  padding: 0;
}

.photo-grid{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  gap: 16px;
}

.photo-grid__item{
  width: 100%;
}

.places{
  width: 984px;
  margin: auto;
}

.place{
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-template-rows: 1fr 1fr;
  width: 80%;
}

.place__title{
  color: #fff;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 76px;
  margin: 0 0 48px;
  width: 50%;
}

.place__image{
  margin-right: 40px;
  width: 50%;
}

.place__website{
  margin: 106px 0 48px;
}

.place__link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.place__url-heading{
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 12px;
}

.place__text-block{
  margin:0 0 26px;
  width: 50%;
}

.place__paragraph {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
}

.cover{
  max-width: 1184px;
  min-width: 768px;
  min-height: 480px;
  background-image: url(../images/cover__background.jpg);
  background-repeat: no-repeat;
  background-color: #2A2C2F;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.cover:hover{
  background-blend-mode: overlay;
}

.cover__title{
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  font-weight: 900;
  width: 560px;
  margin: 0 0 32px;
}

.cover__subtitle{
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  width: 360px;
  margin: 0;
}

.footer {
  padding-top: 92px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 0 24px;
  margin: 0 auto;
}

.footer__links {
  width: 465px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-right: 18px;
}

.footer__link:last-child {
  margin: 0;
}

.footer__copyright{
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .screen-width_1024{
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .place__title{
    color: #fff;
    font-size: 2.6rem;
  }
}

/**@media screen and (max-width: 425px) {
  .screen-width_768{
    .
    
  }
}