/*PAGE*/
@import url(../blocks/page/page.css);

/*MAIN*/
@import url(../blocks/main/main.css);

/*HEADER*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/*LEAD*/
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/*INTRO*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_bold/intro__list_bold.css);

/*PHOTO-GRID*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

/*PLACES*/
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__text-block/place__text-block.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);

/*COVER*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

/*FOOTER*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .screen-width_1024 {
    width: 90%;
  }

  .cover {
    height: 640px;
    width: 1024px;
  }
}


@media screen and (max-width: 768px) {
  .place__title {
    color: #fff;
    font-size: 2.6rem;
  }

  .cover {
    height: 480px;
    width: 100%;
  }

  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
  }

  .lead__title {
    color: #fff;
    width: 288px;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
    margin: auto;
  }

  .lead__subtitle {
    color: #fff;
    width: 288px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .place {
    grid-template-columns: 1fr;
    max-width: 984px;
    margin-bottom: 50px;
  }

  .cover {
    margin: 65px auto;
    height: 200px;
    width: 100%;
  }

  .cover__title {
    color: #fff;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    font-weight: 900;
    width: 288px;
    margin: 0 0 32px;
  }

  .cover__subtitle {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-weight: 400;
    width: 288px;
    margin: 0;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 0;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 48px;
  }

  .footer__link {
    margin: 0;
    width: 50%;
    margin-bottom: 32px;
  }
}