.place {
  display: grid;
  grid-template-columns: 460px 484px;
  width: 100%;
  gap: 48px 40px;
  margin: 0 0 80px;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 960px) {
  .place {
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
    margin: 0 0 73px;
  }
}

@media screen and (max-width: 740px) {
  .place {
    grid-template-columns: 1fr;
    min-width: 320px;
    margin: 0 0 64px;
    gap: 50px 0;
  }
}